# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
*.egg

# C++ build
engine_cpp/build/

# IDE
.vs/
.vscode/
.idea/
*.swp
*.swo

# OS
Thumbs.db
Desktop.ini
$RECYCLE.BIN/

# Python virtual env
venv/
.venv/

# Misc
*.log
*.tmp
